.textboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  input[type=text] {
    width: 100%;
  }
.textboxes-group {
    width: calc(33.33% - 50px); 
    margin-bottom: 20px; 
    
}
.textboxes-group label {
    display: block; 
    margin-bottom: 2px;
    text-align: left; 
}
body {
    margin: 3%;
    text-align: center;
    margin-top: 3%;
    margin-left: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
}
.intro {
    text-align: left;
}
table {
    border-collapse: collapse;
  }
   
th, td {
    border: 1px solid;
    padding: 8px;
  }